.content {
}

#introdiv {
    position: relative;
    height: 100vh;
    min-width: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textintro {
    margin-top: 5vh;
    position: absolute;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    row-gap: .5em;
    font-size: 1.3em;
}

#enter-site-button {
    width: 3em;
    height: 3em;
    background-color: var(--lightred);
    border-radius: 100%;
    margin: auto;
    margin-top: 2em;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi {
    margin-top: .6%;
    position: absolute;
}

#enter-site-button:hover {
    cursor: pointer;
}

#button-pulse {
    width: 3em;
    height: 3em;
    background-color: var(--lightred);
    border-radius: 100%;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

#background {
    height: 100vh;
    min-width: 100%;
    max-height: 100vh;
    object-fit: fill;
    position: absolute;
}

#credit {
    color: var(--writegrey)
}

red {
    background-color: var(--spacegrey);
    padding: .1em;
    padding-right: .2em;
    padding-left: .2em;
    border-radius: .3em;
}