:root {
    --gold: #E9AC29;
    --clearblack: #000000af;
    --coverblack: #0000003d;
    --goldfilter: invert(80%) sepia(20%) saturate(2300%) hue-rotate(350deg) brightness(385%) contrast(83%);
}

@font-face {
    font-family: 'AdamWoff';
    src: url('/fonts/adam.woff2');
}

@font-face {
    font-family: 'Helv';
    src: URL('/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Omnibus';
    src: url('/fonts/AutobusOmnibus-K7127.ttf');
}

@font-face {
    font-family: 'RobotoL';
    src: url('/fonts/roboto-light.woff2');
}

@font-face {
    font-family: 'Silk';
    src: URL('/fonts/slkscr.ttf') format('truetype');
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    font-family: RobotoL;
    color: #FFF;
}

.container {
    display: flex;
    flex-direction: row;
}

#background {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.home_container {
    display: flex;
    flex-direction: row;
}

.home_down {
    margin: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70vw;
    height: 100vh;
    text-align: center;
    overflow-y: scroll;
}

#content h1 {
    font-family: Omnibus;
    font-size: 6vh;
}

#about_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 3.5vh;
}

.button {
    font-size: 3vh;
    font-family: Helv;
    border-style: ridge;
    border-color: #FFF;
    border-radius: 2vh;
    padding: 1vh;
    text-decoration: none;
    color: #FFF;
    transition-duration: 250ms;
}

#portfoliolink .button {
    padding: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.button:hover {
    color: var(--gold);
    border-color: var(--gold);
    background-color: var(--clearblack);
}

#hometitle {
    margin-top: 6vh;
}

h2 {
    font-size: 3.6vh;
}

#aboutImage {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-width: 30vw;
    margin-right: 3vw;
}

#aboutImageMobile {
    display: none;
    margin-top: 0;
    max-width: 100%;
    justify-content: center;
}

#aboutImageMobile img {
    max-width: 65%;
    margin-bottom: 20px;
}

#profile {
    max-width: 30vw;
    min-width: 30vw;
}

#nocti {
    max-width: 22.5vw;
    min-width: 22.5vw;
    margin: auto;
}

#vtlogo {
    max-width: 25vw;
    min-width: 25vw;
    margin: auto;
    margin-top: 1em;
}

.home_down p {
    font-size: 2.9vh;
}

#aboutText p {
    font-size: 2.9vh;
    margin: auto;
    margin-bottom: 3vh;
    line-height: 5.825vh;
    text-align: left;
    width: 81%;
}

.centerimg {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 26vh;
    max-height: 26vh;
    min-width: 26vh;
    min-height: 26vh;
}

#contact {
    margin-top: 27.5vh;
}

#contact p {
    font-size: 3.54vh;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    line-height: 7.1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h3 {
    font-family: Silk;
    font-size: 4.9vh;
    margin: 3.5vh;
    margin-left: 0;
    margin-right: 0;
}

.mailbox {
    display: none;
    margin: auto;
}

.mailto {
    color: #FFF;
}

.mailto:hover {
    color: var(--gold);
    cursor: pointer;
    transition-duration: 250ms;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 30vw;
    min-width: 400px;
    height: 100vh;
    float: left;
    text-align: center;
}

#sidebar #logoimg {
    max-width: 85%;
    margin-bottom: .5em;
}

.pagelinks {
    font-size: 1.4em;
    color: #FFF;
    text-decoration: none;
    margin-bottom: .7em;
}

.pagelinks:hover {
    color: var(--gold);
    cursor: pointer;
    transition-duration: 250ms;
}

.pagelinks.selectedpage {
    color: var(--gold);
    text-decoration: underline;
}

.links {
    color: #FFF;
}

.links:hover {
    transition-duration: 250ms;
    color: var(--gold);
    cursor: pointer;
}

.logolink:hover {
    transition-duration: 250ms;
    filter: var(--goldfilter);
}

#sociallinks {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#sociallinks a {
    text-decoration: none;
    font-size: 3vh;
    color: #FFF;
    transition-duration: 0.2s;
    margin: .3vw;
}

.Project {
    display: inline-block;
    vertical-align: top;
    min-width: 30vh;
    max-width: 30vh;
    min-height: fit-content;
    max-height: fit-content;
    color: #FFF;
    text-decoration: none;
    border: ridge;
    border-radius: 3vh;
    border-color: #ffffff00;
    margin: 1.5vh;
    padding: 3vh;
    padding-bottom: 1.5vh;
    align-items: center;
    transition-duration: 500ms;
}

.Project:hover {
    border-color: var(--gold);
    background-color: var(--clearblack);
    cursor: pointer;
}

.Project h2 {
    font-size: 2.9vh;
    margin: 1vh;
}

.Project p {
    font-size: 2.2vh;
}

.Project img {
    min-width: 30vh;
    max-width: 30vh;
    min-height: 30vh;
    max-height: 30vh;
}

.collapser {
    display: none;
    background-color: #000;
    top: 0;
    left: 0;
    position: fixed;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    font-size: 3vh;
    width: 100%;
    height: fit-content;
}

.collapser #menubutton {
    height: auto;
    width: 120px;
}

.collapser #logoimg {
    max-width: 480px;
    max-height: 120px;
}

#collapsablemenu {
    display: none;
    min-width: 30%;
    max-width: 50%;
    width: fit-content;
    height: max-content;
    min-height: 91%;
    z-index: 10;
    position: absolute;
    top: -20px;
    left: 0;
    text-align: left;
    background-color: #000;
    font-size: 4em;
    padding: 5vh;
    overflow: hidden;
}

hr {
    display: none;
}

#screencover {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: var(--coverblack);;
    width: 100%;
    height: 100%;
}

#collapsablemenu .copyright {
    font-size: xx-large;
    width: 100%;
    text-align: center;
    margin-top: 3vh;
}

#collapsablemenu2 {
    display: none;
    z-index: 5;
    background-color: #000;
    top: 0;
    right: 0;
    position: fixed;
    min-height: 120px;
    height: 120px;
    max-height: 120px;
    font-size: 3vh;
    width: 100%;
    height: fit-content;
    justify-content: right;
}

#menuclose {
    display: none;
    z-index: 20;
    position: absolute;
    width: auto;
    right: 0;
}

#menuclose #menubutton {
    height: 120px;
    width: 120px;
    float: right;
}

#menubutton {
    transition-duration: 250ms;
}

#menubutton:hover {
    filter: var(--goldfilter);
}

@media only screen and (max-width: 1063px) {
    #sidebar {
        display: none;
    }
    .pagelinks {
        font-size: 1.1em;
        margin-bottom: .6em;
    }
    #content {
        margin-top: 125px;
        width: 100vw;
    }
    .collapser {
        display: flex;
    }
}


@media only screen and (max-width: 600px) {
    .collapser #logoimg {
        display: none;
    }
    .pagelinks {
        font-size: 1.1em;
        margin-bottom: .6em;
    }
    .Project {
        display: inline-block;
        vertical-align: top;
        min-width: 15vh;
        max-width: 15vh;
        min-height: fit-content;
        max-height: fit-content;
        color: #FFF;
        text-decoration: none;
        border: ridge;
        border-radius: 1.5vh;
        border-color: #ffffff00;
        margin: .75vh;
        padding: 1.5vh;
        padding-bottom: 0.75vh;
        align-items: center;
        transition-duration: 500ms;
    }
    .Project:hover {
        border-color: var(--gold);
        background-color: var(--clearblack);
        cursor: pointer;
    }
    .Project h2 {
        font-size: 1.45vh;
        margin: .5vh;
    }
    .Project p {
        font-size: 1.1vh;
    }
    .Project img {
        min-width: 15vh;
        max-width: 15vh;
        min-height: 15vh;
        max-height: 15vh;
    }
    #about_container {
        flex-direction: column;
    }
    #aboutImage {
        display: none;
    }
    #aboutImageMobile {
        display: flex;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .Project {
        display: inline-block;
        vertical-align: top;
        min-width: 15vh;
        max-width: 15vh;
        min-height: fit-content;
        max-height: fit-content;
        color: #FFF;
        text-decoration: none;
        border: ridge;
        border-radius: 1.5vh;
        border-color: #ffffff00;
        margin: .75vh;
        padding: 1.5vh;
        padding-bottom: 0.75vh;
        align-items: center;
        transition-duration: 500ms;
    }
    .Project:hover {
        border-color: var(--gold);
        background-color: var(--clearblack);
        cursor: pointer;
    }
    .Project h2 {
        font-size: 1.45vh;
        margin: .5vh;
    }
    .Project p {
        font-size: 1.1vh;
    }
    .pagelinks {
        font-size: 1.4em;
        margin-bottom: .7em;
    }
    .Project img {
        min-width: 15vh;
        max-width: 15vh;
        min-height: 15vh;
        max-height: 15vh;
    }
    .collapser {
        min-height: 190px;
        height: 190px;
        max-height: 190px;
    }
    .collapser #logoimg {
        max-width: 800px;
        max-height: 190px;
    }
    .collapser #menubutton {
        width: 190px;
    }
    #collapsablemenu2 {
        min-height: 200px;
        height: 200px;
        max-height: 200px;
    }
    #menuclose #menubutton {
        margin: 15px;
        height: 190px;
        width: 190px;
    }
    #content {
        margin-top: 180px;
        width: 100vw;
        overflow: visible;
        scroll-margin-bottom: 180px;
    }
    #about_container {
        flex-direction: column;
    }
    #aboutImage {
        display: none;
    }
    #aboutImageMobile {
        display: flex;
    }
    #aboutImageMobile img {
        min-width: 75%;
        margin-bottom: 20px;
    }
    #contact {
        margin-top: 0;
        margin-bottom: 0;
    }
    #contact p {
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }
    .home_container {
        flex-direction: column;
        overflow: visible;
    }
    #portfoliolink {
        margin-top: 3em;
        margin-bottom: 8.5em;
        display: none;
    }
    .container {
        overflow: scroll;
        height: 100vh;
    }
    .mailbox {
        display: block;
        margin-top: 1.3em;
    }
    hr {
        width: 60%;
        border: 2px solid #FFF;
        margin-top: 65px;
        margin-bottom: 65px;
        display: block;
    }
}
