:root {
    --gold: #E5BA6A;
    --spacegrey: #282C34;
    --darkspace: #21252B;
    --writegrey: #ABB2BF;
    --lightred: #E06C75;
    --greyfilter: brightness(0) saturate(100%) invert(86%) sepia(10%) saturate(305%) hue-rotate(180deg) brightness(81%) contrast(91%);
    --goldfilter: invert(81%) sepia(12%) saturate(7486%) hue-rotate(355deg) brightness(95%) contrast(79%);
    --goldfilterm: invert(80%) sepia(20%) saturate(2300%) hue-rotate(350deg) brightness(385%) contrast(83%);
}

@font-face {
    font-family: 'AdamWoff';
    src: url('../fonts/adam.woff2');
}

@font-face {
    font-family: 'Awesome';
    src: url('../fonts/Font-Awesome-6-Free-Regular-400.otf');
}

@font-face {
    font-family: 'Helv';
    src: URL('../fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: URL('../fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Omnibus';
    src: url('../fonts/AutobusOmnibus-K7127.ttf');
}

@font-face {
    font-family: 'RobotoL';
    src: url('../fonts/roboto-light.woff2');
}

@font-face {
    font-family: 'Silk';
    src: URL('../fonts/slkscr.ttf') format('truetype');
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--spacegrey);
    color: var(--writegrey);
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    background-color: var(--darkspace);
    width: 100%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap:  3.5em;
    left: 0;
    right: 0;
    z-index: 3;
}

.navbutton {
    color: var(--gold);
    font-size: 1.3em;
    
    background-image: linear-gradient( var(--gold),  var(--gold));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;

    transition: background-size 250ms ease-in-out, text-shadow 200ms;
}

.navbutton:hover {
    text-shadow: 0 0 .65px var(--gold), 0 0 .65px var(--gold);
    background-size: 100% 0.1em;
}

a {
    text-decoration: none;
}

.content {
    width: 65%;
    margin: auto;
    padding-top: 5.5em;
}

red-tag {
    color:  var(--lightred);
}

.link {
    color: var(--writegrey);
    text-decoration: underline;
    transition-duration: 200ms;
}

.link:hover {
    color: var(--lightred);
}

.footer {
    height: fit-content;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    color: var(--writegrey);
}

.logolink {
    transition-duration: 200ms;
    filter: var(--greyfilter);
}

.logolink_m {
    transition-duration: 200ms;
    filter: var(--greyfilter);
}

.logolink:hover {
    opacity: 70%;
}

.logolink_m:hover {
    opacity: 70%;
}

.sociallinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.sociallinks a {
    text-decoration: none;
}

#mobile_menu {
    display: none;
}

.hidden {
    display: none !important;
}

.disabled {
    overflow: hidden;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    #mobile_menu {
        display: block;
        position: fixed;
        z-index: 4;
    }

    #mobile_menu_close {
        display: block;
        position: fixed;
        z-index: 4;
        top: 0;
        left: 0;
    }

    .navbar {
        display: none;
    }

    .navbar_mobile {
        position: fixed;
        background-color: var(--darkspace);
        height: 100%;
        width: 100%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .navbutton_mobile_a {
        min-width: 100%;
        color: var(--gold);
        background-color: var(--spacegrey);
        text-align: center;
        padding: 4em;
    }

    .navbutton_mobile_a:nth-child(even) {
        background-color: var(--darkspace);
    }

    .navbutton_mobile {
        font-size: 4em;
    }

    .sociallinks_nav {
        padding-top: 3em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 100%;
    }

    .mobile_nav_footer p {
        font-size: 3em;
        width: 100% !important;
        margin-top: 1em;
    }

    .logolink {
        scale: 1.6;
        padding: 1em;
    }

    .logolink_m {
        scale: 1.6;
        padding: 1em;
    }
}