@font-face {
    font-family: 'Helv';
    src: URL('fonts/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'AdamWoff';
    src: url('fonts/adam.woff2');
}

@font-face {
    font-family: 'RobotoL';
    src: url('fonts/roboto-light.woff2');
}

@font-face {
    font-family: 'Silk';
    src: URL('fonts/slkscr.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(34, 34, 34);
    font-family: RobotoL;
    color: white;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 30vw;
    height: 100vh;
    float: left;
    text-align: center;
}

#logoimg {
    max-width: 85%;
}

#footerUL {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

#footerLI {
    font-size: large;
    color: white;
}

#footerLI a {
    text-decoration: none;
    font-size: medium;
    color: white;
    transition-duration: 0.2s;
    margin: .3vw;
}

@media (max-width: 800px) {
    #sidebar {
        display: none;
    }
}